* {
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(84,187,192);
}

/* MOVE TO TOP */

.uparrow {
    background-color: var(--primary-color);
    color: white;
    display: flex;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 25px;
    bottom: 25px;
    animation: bounce 1s ease-in-out 1s infinite normal;
}

@keyframes bounce {
    0%{
        margin-top: 10px;
    }
    25% {
        margin-bottom: 10px;
    }
    75%{
        margin-top: 10px;
    }
    100% {
        margin-bottom: 10px;
    }
}

/* HOURS */

.hours {
    display: flex;
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    justify-content: space-between;
}

.hours > div {
    margin-left: 20px;
    margin-right: 20px;
}

@media screen and (max-width: 428px){
    .hcbox1 {
        display: none;
    }
    .hcbox2 {
        justify-content: space-between;
        align-items: center;
        margin-left: 25px;
        margin-right: 25px;
    }
}

/* NAVBAR */
#logo {
    height: 70%;
    width: 70%;
}

.navbar {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navmenu{
    display: flex;
    gap: 30px;
    justify-content:flex-start;
}

.menu a {
    margin: 0px 20px;
    text-decoration: none;
    color: black;
}

#toggle, #icon {
    display: none;
}

@media screen and (max-width: 768px){
    #icon {
        display: flex;
    }
    .navbar {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
    }
    .menu {
        display: none;
    }

    #toggle:checked ~ .navmenu > .menu {
        display: flex;
        flex-direction: column;
        background-color: var(--primary-color);
        color: white;
        position: absolute;
        width: 100%;
        top: 50px;
        left: 0;
        gap: 20px;
        padding: 20px 5px;
    }
}

.apptbutton {
    margin-left: 20px;
    border-radius: 5%;
    padding: 5px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    animation-name: zoomin;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    box-shadow: 2px 30px 30px rgb(201, 201, 201);
}

@keyframes zoomin {
    from {
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
}

/* HERO */
.hero {
    object-fit: cover;
}
.heroimg {
    width: 100%;
}

.herotext {
    position: absolute;
    bottom: 20px;
    background-color: #fff;
    margin-right: 150px;
    margin-left: 150px;
    padding: 20px;
    border-top: 4px solid var(--primary-color); 
}

@media screen and (max-width: 768px){
    .heroimg {
        object-fit: cover;
    }
    .herotext {
        position: absolute;
        bottom: 220px;
        background-color: #fff;
        margin-right: 10px;
        margin-left: 10px;
        padding: 5px;
        border-top: 4px solid var(--primary-color); 
    }
}

/* SPECIALTIES */

.specialties {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 5px;
    margin-top: 20px;
}

.specialties > div {
    box-shadow: 2px 30px 30px rgb(201, 201, 201);
    padding: 10px;
}

i {
    font-size: 35px;
    color: var(--primary-color);
}

.specialties > div:hover {
    background-color: var(--primary-color);
    color: white;
}

.specialties > div:hover i {
    background-color: var(--primary-color);
    color: white;
}

@media screen and (max-width: 768px){
    .specialties {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 40px 20px;
    }
    .specialties > div {
        margin: 10px;
    }
}

@media screen and (max-width: 428px){
    .specialties {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
    }
}

/* MEDICAL ASSIST */

.medassist {
    background-color: var(--primary-color);
    color: white;
}

.medassist-button {
    background-color: var(--primary-color);
    color:white;
    padding: 15px 40px;
    border: 1px solid white;
    box-shadow: none;
    border-radius: 10px;
}

.medassist-button:hover {
    background-color: white;
    color: var(--primary-color);
}

@media screen and (max-width: 768px){
    .medassist {
        object-fit: cover;
    }
}

/* ABOUT */

.about2  {
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.about_sec1 .aboutimg {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.about_sec2 {
    line-height: 30px;
    margin-left:20px;
} 

@media screen and (max-width:768px){
    .about2 {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.highlights {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 40px 80px;
}

.highlights > div {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    display: flex;
    padding-left: 20px;
    margin: 10px 15px;
    box-shadow: 2px 30px 30px rgb(201, 201, 201);
}

.highlights > div > div > h1{
    padding-left: 20px;
}

.highlights > div > div > p{
    padding-left: 20px;
}

@media screen and (max-width: 768px){
    .highlights {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 428px){
    .highlights {
        margin: 10px 10px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

.scbox2 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    margin: 40px 80px;
}

.icon {
    border-radius: 100%;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #b9b3b3;
    box-shadow: 2px 30px 30px rgb(201, 201, 201);
}

@media screen and (max-width: 768px){
    .scbox2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        margin: 20px 30px;
    }
}

@media screen and (max-width: 428px){
    .scbox2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
        margin: 10px 10px;
    }
}

/* APPOINTMENT */

.appt {
    background-color: #f7fcfc;
}

.appconbox2 {
    display: grid;
    margin: 40px 80px;
    gap: 25px;
}
.appconbox2 > div {
    display: grid;
    height: 40px;
}
.acb21{
    grid-row: 1;
    grid-column: 1;
}
.acb22{
    grid-row: 1;
    grid-column: 2;
}
.acb23{
    grid-row: 1;
    grid-column: 3;
}
.acb24{
    grid-row: 2;
    grid-column: 1;
}
.acb25{
    grid-row: 2;
    grid-column: 2;
}
.acb26{
    grid-row: 2;
    grid-column: 3;
}
.acb27{
    grid-row: 3;
    grid-column: 1/ span 3;
}
.acb28 {
    grid-row: 4;
    grid-column: 2;
}

@media screen and (max-width: 768px){
    .appconbox2{
        display: block;
    }
    .appconbox2 > div {
        display: block;
        height: 50px;
        width: 100%;
        margin: 20px 20px;
    }
}

@media screen and (max-width: 428px){
    .appconbox2{
        display: block;
        margin: 10px 10px;
    }
    .appconbox2 > div {
        display: block;
        height: 50px;
        width: 100%;
        margin: 5px 5px;
    }
}




.doctors {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin: 40px 80px;
}

.doctors > div {
    box-shadow: 2px 30px 30px rgb(201, 201, 201);
    padding-bottom: 10px;
}

.doctors > div > img {
    width: 100%;
}

.doctors > div .content {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.doctors .doctor_sec .s-icon {
    display: none;
}

.doctors .doctor_sec:hover .s-icon{
    position: absolute;
    bottom: 150px;
    gap: 5px;
    left: 60px;
    /* display: flex; */
    justify-content: center;
}

.doctors > div:hover .s-icon {
    display: flex;
}

@media screen and (max-width: 768px) {
    .doctors {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        margin: 40px 80px;
    }
}

@media screen and (max-width: 428px) {
    .doctors {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        margin: 40px 80px;
    }
}

.contact-container {
    display: grid;
    width: 100%;
}

.contact-container > div {
    border: 1px solid #fff;
    margin: 10px;
    padding: 15px;
    box-shadow: 2px 10px 10px rgb(201, 201, 201);
}

.ccbox1 {
    grid-row: 1;
    grid-column: 1 / span 2;
}

.ccbox2 {
    grid-row: 2;
    grid-column: 1;
}

.ccbox3 {
    grid-row: 2;
    grid-column: 2;
}

.ccbox4 {
    grid-row: 1 /span 2;
    grid-column: 3 / span 4;
}

#textarea1 {
    width: 100%;
}

.input {
    display: flex;
    gap: 25px;
    width: 100%;
    height: 50px;
}

.input input{
    flex-grow: 1;
}

@media screen and (max-width: 768px){
    #inputName, #inputEmail {
        display: block;
        width: 100%;
        height: 50px;
        gap:25px; 
    }
}

.input1 {
    height: 50px;
    width: 100%;
}

.input2 {
    height: 100px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .contact-container{
        display: flex;
        flex-direction: column;
    }
}


.foot-container {
    display: flex;
}
.foot-container > div {
    margin: 25px;
    line-height: 2;
    width: 100%;
}

@media screen and (max-width: 768px){
    .foot-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .fcbox1 {
        grid-row: 1;
        grid-column: 1;
    }
    .fcbox1 {
        grid-row: 1;
        grid-column: 2;
    }
    .fcbox1 {
        grid-row: 2;
        grid-column: 1;
    }
    .fcbox1 {
        grid-row: 2;
        grid-column: 2;
    }
    .fcbox1 {
        grid-row: 3;
        grid-column: 1;
    }
}

@media screen and (max-width: 428px){
    .foot-container {
        display: flex;
        flex-direction: column;
    }
}
